@charset "UTF-8";
h1 {
  font-size: 28px;
  font-size: 2.8rem;
}

.row {
  *zoom: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .left {
  float: left;
}

.row .right {
  float: right;
}

/** GENERAL
==============================================*/
/*
  INIT
---------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #111;
}

div, dl, dt, dd, ul, ol, li, pre, form, blockquote, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.4;
  font-size: 18px;
  letter-spacing: -0.18px;
  color: #000000;
}

p {
  margin: 0 0 10px;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: bottom;
  border-style: none;
}

map,
area,
map:active,
area:active {
  border: none;
  outline: none;
}

figure {
  margin: 0;
}

.text-center {
  text-align: center;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.notes {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.4;
}

a {
  color: #111;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #444444;
  text-decoration: none;
}

a .alpha {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

@media only screen and (max-width: 767px) {
  a .alpha {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

a:hover .alpha {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  a:hover .alpha {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

/** FONTS
==============================================*/
/** JS LIBS
==============================================*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 42px;
  width: 42px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  opacity: 0.8;
  color: transparent;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev {
  left: 20px;
  background-image: url(../img/common/slider-arrow-prev.png);
  z-index: 111;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 20px;
}

.slick-next {
  right: 20px;
  background-image: url(../img/common/slider-arrow-next.png);
  z-index: 111;
}

[dir="rtl"] .slick-next {
  left: 20px;
  right: auto;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #c74040;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #c74040;
  opacity: 1;
}

/** COMMON
==============================================*/

.fixed .wrap {
  overflow: hidden;
  height: 100%;
}

.wrap {
  position: relative;
  min-width: 1020px;
}

@media only screen and (max-width: 1023px) {
  .wrap {
    min-width: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .wrap {
    min-width: 0;
    overflow: hidden;
  }
}

.tag {
  height: 0;
  overflow: hidden;
}

p.small {
  font-size: 85.7%;
}

.table {
  display: table;
  width: 100%;
}

.table > * {
  display: table-cell;
}

.figure.flex {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.figure.flex img {
  width: 100%;
}

img.flex {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  img.flex {
    max-width: 100%;
    height: auto;
  }
}

.bgfullimg {
  background-repeat: no-repeat;
}

@media (min-width: 1980px) {
  .bgfullimg {
    background-size: 100% auto;
  }
}

.bgflex {
  display: block;
}

@media (min-width: 1980px) {
  .bgflex {
    background-size: 100% auto;
  }
}

.anchor {
  position: relative;
}

.anchor .offset {
  position: absolute;
  top: -100px;
}

@media only screen and (max-width: 767px) {
  .anchor .offset {
    top: -50px;
  }
}

.section-footer p {
  max-height: 999999px;
}

.section-footer a {
  color: #fff;
}

.section-footer a:hover {
  text-decoration: underline;
}

.inline-block {
  font-size: 0;
}

.inline-block li {
  display: inline-block;
}

a {
  color: #111;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #111111;
  text-decoration: none;
}

a .alpha {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

@media only screen and (max-width: 767px) {
  a .alpha {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

a:hover .alpha {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  a:hover .alpha {
    opacity: 1;
  }
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .figure img, .flex img {
    width: 100%;
  }
}

.row {
  position: relative;
  margin: 0 auto;
  width: 1020px;
  padding: 0 10px;
}

.row .row {
  width: auto;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .row {
    width: auto;
    padding: 0 20px;
  }
}

.row.expanded {
  width: 1020px;
}

@media only screen and (max-width: 767px) {
  .row.expanded {
    width: auto;
  }
}

.row.full {
  width: 100%;
  padding: 0;
}

.row.full .columns.text {
  width: 500px;
}

@media only screen and (max-width: 767px) {
  .row.full .columns.text {
    width: auto;
  }
}

.columns {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .columns {
    float: none;
    width: auto;
  }
}

.columns.half {
  width: 50%;
}

.columns.half.left {
  padding-right: 20px;
}

.columns.half.right {
  padding-left: 20px;
}

@media only screen and (max-width: 767px) {
  .columns.half {
    width: auto;
  }
  .columns.half.left {
    padding-right: 0;
  }
  .columns.half.right {
    padding-left: 0;
  }
}

.columns.left {
  float: left;
}

@media only screen and (max-width: 767px) {
  .columns.left {
    float: none;
  }
}

.columns.right {
  float: right;
}

@media only screen and (max-width: 767px) {
  .columns.right {
    float: none;
  }
}

.tag {
  height: 0;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  img.flex {
    width: 100%;
    height: auto;
  }
}

img.full {
  width: 100%;
  height: auto;
}

.show-small {
  display: none;
}

@media only screen and (max-width: 767px) {
  .show-small {
    display: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .hide-small {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .small-nopad {
    padding: 0 !important;
  }
}

/** HEADER MASTHEAD
==============================================*/
.masthead {
  padding: 20px 30px;
  text-align: right;
  background-color: #fff;
  height: 100px;
}

@media only screen and (max-width: 767px) {
  .masthead {
    height: auto;
    padding: 20px 0;
  }
}

.masthead h1 img {
  width: 130px;
}

@media only screen and (max-width: 767px) {
  .masthead h1 {
    text-align: center;
  }
  .masthead h1 img {
    width: 80px;
  }
}

/** MAIN CONTAINERS
==============================================*/
.splash_large_only{
  display: block;
}
.splash_small_only{
  display: none;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10001;
}

#splash .heroimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../img/collection/img.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 0;
}

#splash .brand-logo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

#splash .brand-logo img {
  width: 15.0%;
}

body.isLock {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body.isLock .site-main {
  height: 0;
}

.site-main {
  display: none;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.wrap {
  opacity: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.globalnav {
	position: fixed;
	top: 100px;
	left: 45px;
	/*width: 282px;*/
	height: 48px;
	z-index: 9999;
}

.globalnav .brand-logo {
  width: 33.3%;
}

.section-items {
  opacity: 0;
  position: relative;
  margin-bottom: 200px;
}

.section-items .right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section-items .item {
  position: relative;
  font-size: 0;
}

.section-items .item span img {
  width: 100%;
  max-width: 100%;
}

.section-items .item .desc {
  position: absolute;
  top: 50px;
  left: 1.5vw;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  display:none;
  margin-right: 1.5vw;
}

.section-items .item span {
  display: block;
  position: relative;
}

.section-items .item span:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff00;;
  display: block;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.section-items .item.active span:after {
  opacity: 1;
}

.section-items .item.active .desc {
  opacity: 1;
  display: block;
}

.section-items .item.active .desc h2 {
  margin-bottom: 20px;
}

.line1 .item {
  width: 19%;
}

.detail {
  overflow: hidden;
  width: 0%;
  position: relative;
  height: 0;
}

.detail span {
  display: block;
}

.detail img {
  width: 100%;
}

.detail .label {
  position: absolute;
  width: 100%;
  right: 0;
  top: 52%;
  text-align: right;
}

.detail .label img {
  width: 60%;
}

.poolimg {
  position: absolute;
  left: 0;
  top: 0;
}

.poolimg img {
  opacity: 0;
}

.site-main {
  position: relative;
}

/*---*/
.desc p {
  font-size: 0.75vw;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #000000;
}
.header, footer {
  display: none;
}

@media (max-width: 1024px) {
	.splash_large_only{
	  display: none;
	}
	.splash_small_only{
	  display: block;
	}
}

@media (max-width: 750px) {
	.globalnav {
		display: none;
	}
	.globalnav .brand-logo img {
		width: 63vw;
	}

	.globalnav {
		top: 38px;
		left: 25px;
		width: 65%;
	}
	.globalnav .brand-logo {
		padding: 0;
		width: 100%;
	}
}

@media (max-width: 768px) {
  .section-items .item span:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: block;
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .section-items .items {
    position: relative;
  }
  .section-items .item {
    position: static;
  }
  .section-items .detail .desc {
    z-index: 100;
    top: 50px;
    left:30px;
    position: absolute;
  }
  .section-items .detail .desc h2 {
    margin-bottom: 20px;
  }
  .section-items .item.active .desc {
    display: block;
  }
  .section-items .item .desc h2 {
    font-weight: bold;
    padding-bottom: 10px;
  }
  .section-items .item .desc {
    left: 50px;
    margin-right: 50px;
  }
  .desc p {
    font-size: 12px;
  }
  .section-items .item .desc p {
    line-height: 2;
  }
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

header.pc_header .user {
	z-index: 100;
}
header.pc_header .searchOunter {
	z-index: 100;
}
header.pc_header .searchOunter p {
	margin: 0;
}
@media (max-width: 750px) {
	.sp_user .bagBtn {
		z-index: 100;
	}
	.sp_user .searchBtn {
		z-index: 100;
	}
}

/** layout.tplでのHeader Logoを非表示
==============================================*/
header.pc_header h1 {
	display: none;
}
