@charset "utf-8";

/* goodsTile Style
-------------------------------*/
.goodsTile {
	text-align:center;
}
.goodsTile .price {
	font-weight: 300;
	color:#FFF;
	font-size: 14px;
	font-size: 1.4rem;
}

.goodsTile .colorChipWrapper {
	margin-top: 0px;
	margin-bottom:15px;
	text-align:center;
}
.goodsTile .colorChipWrapper ul {
	padding: 0;
	margin: 0;
}
.goodsTile .colorChipWrapper li {
	display: inline-block;
	float:none !important;
	max-width:inherit !important;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	margin: 0 5px!important;
	padding: 0!important;
	border: 1px solid #eaeaea;
	position: relative;
}
.goodsTile .colorChipWrapper li:last-child {
	margin-right: 0;
}
.goodsTile .colorChipWrapper li a {
	display: block;
	height: 18px;
	width: 18px;
}
.goodsTile .colorChipWrapper li a img,
.goodsTile .colorChipWrapper li a span {
	display: block;
	height: 20px;
	width: 20px;
	border: 1px solid #A5A5A5;
}
.goodsTile .goodsNameWrapper {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-size: 16px;
	font-size:1.6rem;
	font-weight: 400;
	margin-bottom:5px;
}
.goodsTile .iconList {
	font-weight: 300;
	font-size: 12px;
	color: #c8161e;
	height:20px;
	margin-bottom:5px;
	text-align:left;
}
.goodsTile .iconList span.ico{
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: "HelveticaLTPro-Bold", "futura","Century Gothic",sans-serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	list-style-position: outside;
	list-style-type: none;
	margin-right: 5px;
	padding: 0 10px;
	text-align: center;
}
.goodsTile .iconList span.ico1 {
	background: #000 none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .iconList span.ico2 {
	background: #e95a7f none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .iconList span.ico3 {
	background: #00a968 none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .iconList span.ico4 {
	background: #dda0dc none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .iconList span.ico5 {
	background: #0000ff none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .iconList span.ico6 {
	background: #cccc33 none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .iconList span.ico7 {
	background: #a5a9ab none repeat scroll 0 0;
	color: #fff;
}
.goodsTile .images {
	position: relative;
}
.goodsTile .images .itemImage {
	position: relative;
	width: 100%;
	height: 100%;
}
.goodsTile .images .itemImage a.soldout {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.goodsTile .images .itemImage a.soldout img {
	display: block;
	width: 100%;
	height: 100%;
}

.goodsTile .item,
.recommendGoodsTileWrapper .item,
#checked-wrap .item,
.rank-box .item,
.includedGoodsTile .item,
.recommend-list .item,
.goods-list-favorite .item {
	position: relative;
}

.goodsTile .images .add_favorite,
.recommendGoodsTileWrapper .add_favorite,
#checked-wrap .add_favorite,
.rank-box .add_favorite,
.includedGoodsTile .add_favorite,
.recommend-list .add_favorite,
.goods-list-favorite .add_favorite {
	text-indent:-9999px;
	background:url(../img/heart.png) no-repeat 0 0;
	width:20px;
	height:20px;
	position:absolute;
	top:10px;
	right:10px;
	z-index:5000;
}
.goodsTile .images .add_favorite.active,
.recommendGoodsTileWrapper .add_favorite.active,
#checked-wrap .add_favorite.active,
.rank-box .add_favorite.active,
.includedGoodsTile .add_favorite.active, 
.recommend-list .add_favorite.active,
.goods-list-favorite .add_favorite.active {
	background:url(../img/heart_on.png) no-repeat 0 0;
}
.goodsTile .images .item-name-price{
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	font-size:20px;
	font-size:2.0rem;
	z-index:9999;
	font-family: 'HelveticaLTPro-Bold', 'futura', 'Century Gothic', sans-serif;
	opacity:0;
	-webkit-transition:	all 0.2s ease;
	transition:all 0.2s ease;
	width: 90%;
	height: 50px;
	color: #FFF;
}
.goodsTile .images .item-name-price a{
	display:block;
	text-align:center;
	background:#FFF;
	padding:10px 0;
	border:1px solid #000000;
	max-width:180px;
	margin:0 auto;
	
}
.goodsTile .images:hover .item-name-price{
	opacity:1;
}
.goodsTile .images:hover{
	opacity:1;
	background-color: #000;
}

.goodsTile .images-soldout .item-name-price{
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	font-size:20px;
	font-size:2.0rem;
	z-index:9999;
	font-family: 'HelveticaLTPro-Bold', 'futura', 'Century Gothic', sans-serif;
	opacity:0;
	-webkit-transition:	all 0.2s ease;
	transition:all 0.2s ease;
	width: 90%;
	height: 50px;
	color: #FFF;
}
.goodsTile .images-soldout .item-name-price a{
	display:block;
	text-align:center;
	background:#FFF;
	padding:10px 0;
	border:1px solid #000000;
	max-width:180px;
	margin:0 auto;
	
}
.goodsTile .images-soldout:hover .item-name-price{
	opacity:1;
}
.goodsTile .images-soldout:hover{
	opacity:1;
	background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
	background-position: 3px 3px, 3px 3px;
	background-size: 5px 5px;
}
.goodsTile .images-soldout .item-name-price img{
	width: 30%;
	margin-top: -36px;
	margin-left: 5px;
}

.goodsTile .item-txt{
	color:#7d7d7d;
	font-size:12px;
	font-size:1.2rem;
	margin-bottom:25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.goodsTile .goodsNameWrapper .goodsDetailLink {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.goodsTile .bag-btn{
	display:none !important;
}

@media only screen and (max-width: 1024px){
	.goodsTile .bag-btn{
		display:none !important;
	}
}

@media only screen and (max-width: 750px){
	.goodsTile {
		text-align: center;
	}
	.goodsTile .images .item-name-price {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 14px;
		font-size: 1.4rem;
	}
	.goodsTile .images .item-name-price a {
		max-width: 90%;
		margin:0 auto;
		padding:5px 0;
	}
	.goodsTile .iconList {
		height: 18px;
		overflow: hidden;
	}
	.goodsTile .item-txt,
	.goodsTile .goodsNameWrapper{
		display:none;
	}
	.goodsTile .colorChipWrapper {
		margin-bottom: 8px;
	}


	.goodsTile .images .add_favorite,
	.recommendGoodsTileWrapper .add_favorite,
	#checked-wrap .add_favorite,
	.rank-box .add_favorite,
	.includedGoodsTile .add_favorite, 
	.recommend-list .add_favorite,
	.goods-list-favorite .add_favorite {
		width:10px;
		height:10px;
		top:5px;
		right:5px;
		background-size: contain;
	}

	.goodsTile .images .add_favorite.active,
	.recommendGoodsTileWrapper .add_favorite.active,
	#checked-wrap .add_favorite.active,
	.rank-box .add_favorite.active,
	.includedGoodsTile .add_favorite.active, 
	.recommend-list .add_favorite.active,
	.goods-list-favorite .add_favorite.active {
		width:10px;
		height:10px;
		background-size: contain;
	}

	.goodsTile .images-soldout .item-name-price img{
		width: 50%;
		margin-top: -30px;
		margin-left: 0px;
	}
}


/* 再入荷 */

.restock_request .regmessageArea{
	text-align:center;
}
.restock_request .request-ttl{
	text-align:center;
	font-size:30px;
	font-size:3.0rem;
	padding:50px 0 25px;
}
.restock_request .request-txt-box{
	min-width:10em;
	display:inline-block;
	margin:0 auto;
	text-align:left
}

.restock_request .request-intro{
	font-size:14px;
	font-size:1.4rem;
	text-align: center;
	padding-top:80px;
}
.restock_request .back-btn{
	max-width:250px;
	margin:0 auto;
	text-align:center;
}
.restock_request .back-btn a{
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: inherit;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 12px 0;
	margin-bottom: 5px;
	border: 1px solid #000;
	color: #000;
	background: #FFF url(../img/back_arrow.png) no-repeat 10px center;
}

/* 商品条件 */
.item-condition{
	position:absolute;
	float: right;
	width:70%;
	padding-top: 120px;
	right: 0;
	z-index: 9;
}

.item-condition-TextArea{
	width: 100%;
	margin-bottom: 3%;
}

.item-condition-Text{
	width: 25%;
	float: left;
	font-weight: bold;
	font-size: 12px;
}

.item-condition-SelectArea{
	width: 100%;
	clear: both;
}

.item-condition-Select{
	width: 25%;
	float: left;
}

@media only screen and (max-width: 750px){
	.item-condition{
		position:absolute;
		float: right;
		width:96%;
		padding-top: 120px;
		right: 0;
		z-index: 9;
		border: solid 1px #bfbfbf;
		left: 2%;
	}
}

/* searchArea Style
-------------------------------*/
.searchArea {
	float: left;
	display: inline-block;
	width: 150px;
}
.searchArea .searchItem {
	position: relative;
	display: inline-block;
	float: left;
	margin-left:0;
}
.searchArea a.open_select {
	display: block;
	padding: 8px 30px 8px 10px;
	background: url(../img/item-list/ac_arrow.png) no-repeat right 5px center;
	background-color: #fff;
	font-weight: 400;
	font-size: 12px;
	width: 120px;
	height: 36px;
	background-color: #000;
	color: #FFF;
}
.searchArea .searchItem ul {
	display: none;
	position: absolute;
	top: 35px;
	left: 0px;
	z-index: 1;
	border: 1px solid #A5A5A5;
}
.searchArea .searchItem ul.order_by {
	width: 120px;
}
.searchArea .searchItem ul.per_page {
	width: 250px;
}
.searchArea .searchItem ul li a {
	display: block;
	padding: 5px 10px;
	background-color: #fff;
	font-weight: 300;
	font-size: 10px;
}
.searchArea .searchItem ul li a:hover {
	background-color: #EEE;
	opacity: 1!important;
}
.searchArea .searchItem ul li.active a {
	background-color: #EEE;
}

@media only screen and (max-width: 750px){

	/* 再入荷 */
	
	.restock_request .request-ttl{
		font-size:20px;
		font-size:2.0rem;
		padding:20px 0 25px;
	}
	.restock_request .request-intro{
		padding-top:50px;
	}
}
