@charset "utf-8";

html, body {
	height: 100%;
}

#left-wrap{
	width: 100%;
}

#left-wrap .logoimg{
	width: 75%;
	text-align:center;
	margin: 50% auto;
}

.menu1{
	padding-left:30px;
}

.menu2{
	padding-left:30px;
	margin-top:100px;
}

.menu1 li{
	margin-top:10px;
	font-weight: bold;
}

.menu2 li{
	margin-top:10px;
	font-weight: bold;
}






/* ハンバーガーメニュー */
.sp-menu-user{
	display: none;
}

.spfootersns{
	display: none;
}

.hm_menu_check {
	display: none;
}
.hm_wrap {
	display: inline-block;
	position :absolute;
	top :0;
	left :0;
	width :5%;
	padding :10px;
	z-index: 15;
}

/* メニューボタン */
.hm_btn {
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: block;
	float: left;
	z-index: 2;
}
.hm_btn::before {
	-webkit-box-shadow: #000 0 12px 0;
	box-shadow: #000 0 12px 0;
}
.hm_btn::after {
	bottom: 0;

}
.hm_btn::before,
.hm_btn::after {
	width: 30px;
	height: 6px;
	background: #000;
	display: block;
	content: '';
	position: absolute;
	-webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
	transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
}

.hm_btn2 {
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: block;
	float: right;
	z-index: 2;
	margin: 10px;
}

.hm_btn2::after {
	bottom: 0;
}
.hm_btn2::before,
.hm_btn2::after {
	width: 30px;
	height: 6px;
	background: #000;
	display: block;
	content: '';
	position: absolute;
	-webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
	transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
}

.hm_menu_wrap {
	width :500%;
	height: 100vh;
	position: absolute;
	left: -500%;
	top: 0;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
	border-right: solid 1px;
	padding-top: 500%;
	padding-left: 2%;
}

.hm_menu_wrap2 {
	width :500%;
	height: 100%;
	position: absolute;
	left: -500%;
	top: 0;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
}

/* 開閉時のアニメーション */
.hm_menu_check:checked ~ .hm_btn {
	display: none;
}
.hm_menu_check:checked ~ .hm_btn2 {
	display: none;
}

.hm_menu_check:checked ~ .hm_menu_wrap {
	left: 0;
}

.hm_menu_check:checked ~ .hm_menu_wrap2 {
	left: 0;
}

.hm_btn2::before {
	-webkit-box-shadow: transparent 0 0 0;
	box-shadow: transparent 0 0 0;
	-webkit-transform: rotate(45deg) translate3d(6px, 11px, 0);
	transform: rotate(45deg) translate3d(6px, 11px, 0);
}
.hm_btn2::after {
	-webkit-transform: rotate(-45deg) translate3d(6px, -11px, 0);
	transform: rotate(-45deg) translate3d(6px, -11px, 0);
}

/* メニュー内のリストスタイル */
.hm_list {
	list-style-type: none;
	margin: 50px 0 0;
	padding: 0;
}
.hm_list li a {
	color: #777;
	display: block;
	overflow: hidden;
	padding: 8px 22px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

.hm_wrap input[type="checkbox"] + label:before, 
.hm_wrap input[type="checkbox"] + label:after {
	top: inherit;
	left: 0;
	width: 30px;
	height: 6px;
	border: none;
}

.sp-only{
	display: none;
}

@media only screen and (max-width: 750px){
	.sp-only{
		display: block;
	}
	
	.sp-menu-user{
		display: initial;
	}
	
	.spfootersns{
		display: initial;
	}
	
	.hm_wrap {
		width :100%;
		top: 25vw;
		z-index: 15;
		height: initial;
	}
	
	.hm_menu_wrap {
		top: -500%;
		-webkit-transition: top 0.4s;
		transition: top 0.4s;
		margin-top: 15%;
		margin-left: 0;
		height :auto;
		border-right: none;
		background-color: #f6f6f6;
		padding: 0;
		height: initial;
	}
	.hm_btn {
		z-index: 2;
	}
	
	.hm_btn2 {
		display: none;
	}

	.hm_menu_wrap2 {
		display: none;
	}

	.hm_menu_check:checked ~ .hm_btn {
		display: initial;
	}

	.hm_menu_check:checked ~ .hm_menu_wrap {
		top: 0;
	}

	.hm_menu_check:checked ~ .hm_menu_wrap2 {
		top: 0;
	}

	.hm_btn::after {
		-webkit-transform: initial !important;
	    -ms-transform: initial !important;
	    transform: initial !important;
	}

	.sp-user{
		width: 100vw;
	}

	.sp-logout{
		width: 50%;
		height: 50px;
		background-color: #000;
		color: #FFF !important;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: solid 1px #FFF;
		font-size: 3.5vw;
	}

	.sp-logout a {
		color: #FFF !important;
	}

	.sp-cart{
		width: 50%;
		height: 50px;
		background-color: #000;
		color: #FFF !important;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3.5vw;
	}

	.sp-cart a {
		color: #FFF !important;
	}

	.menu1{
		float: left;
		width: 100%;
		padding: 1% 10vw;
		border-bottom: solid 2px #cacaca;
	}

	.menu2{
		float: left;
		width: 100%;
		padding: 1% 10vw;
		margin: 0;
		border-bottom: solid 2px #cacaca;
	}

	.menu1 li{
		margin-top:10px;
		font-weight: bold;
		font-size: 3.5vw;
	}

	.menu2 li{
		margin-top:10px;
		font-weight: bold;
		font-size: 3.5vw;
	}

	.menu2 label{
		font-weight: bold;
		font-size: 3.5vw;
	}

/*
	.hm_menu_wrap .spfootersns{
		display: initial;
		float: left;
		width: 100%;
		margin: 10% auto;
	}
*/

	.hm_menu_wrap .spfootersns {
		float: left;
		width: 100vw;
		padding: 1.5% 10vw;
		margin: 0;
		border-bottom: solid 2px #cacaca;
	}

	.hm_menu_wrap .sns {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

	.hm_menu_wrap .sns li{
	 	display: inline-block;
	 	width: 30px;
	 	margin-left:30px;
	}

	.hm_menu_wrap .sns .insta{
	 	width: 30px;
	 	margin: 0;
	}

	.hm_menu_wrap .sns .twitter{
	 	display: inline-block;
	 	width: 30px;
	}

	.hm_menu_wrap li img{
	 	width: 100%;
	 	margin: 0;
	 	padding: 0;
	}
}

#links01 li {
    max-height: 0;
    overflow-y: hidden;
}

.menu_bar_label {
	color: #000;
	font-weight: bold;
	font-size: 1rem;
}

#menu_bar01:checked ~ #links01 li {
    max-height: 46px;
    opacity: 1;
    margin-top:10px;
}

#menu_barSP:checked ~ #links01 li {
    max-height: 46px;
    opacity: 1;
    margin-top:10px;
}

#links01 li {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top:0px;
}

.language-menu {
	padding-top: 10px;
}
